# Python fundamentals

### The Zen of Python

The 20 principles that influences the design of Python.

Written in the 1999, they have been included as the 20th entry of the Python Enhancement Proposals (a.k.a. [PEP 20](https://www.python.org/dev/peps/pep-0020/)).

In [7]:
# eastern egg
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

*In December 1989, Van Rossum had been looking for a "'hobby' programming project that would keep [him] occupied during the week around Christmas" as his office was closed when he decided to write an interpreter for a "new scripting language [he] had been thinking about lately: a descendant of ABC that would appeal to Unix/C hackers". He attributes choosing the name "Python" to "being in a slightly irreverent mood (and a big fan of Monty Python's Flying Circus)".* https://en.wikipedia.org/wiki/Guido_van_Rossum

## Getting Started

If you have installed Python on your own machine, the simplest way is to type commands directly in the **Interactive** IPython shell:

In [8]:
print("Are we having fun yet?")

Are we having fun yet?

If you are using **Google Colab**, you can bring up an interactive shell by using !bash and then asking it to run Python 3 (type python3 into the input field once bash loads, and then execute commands):

In [9]:
!bash

bash: cannot set terminal process group (200): Inappropriate ioctl for device
bash: no job control in this shell



/content# ^C

This is great for testing purposes, or for exploratory analysis, but it is very inefficient if you want to reuse the same program multiple times. An alternative is to write your instructions in a Jupyter Notebook, in which you can also explain your code to the reader using text blocks, and which can be loaded by Google Colab or Jupyter Notebook in Anaconda.

A more traditional alternative when you are working on your own machine is to write your instructions in a `\*.py` **text file** and to ask the Python interpreter to execute this file by listing its name in a python command.

1. In you current working directory (`%pwd`), or somewhere else (e.g., `/stuff`), create a text file called `fun.py`

2. Open this file with a text editor

3. Copy the following code, save and close the file

```python
print("Are we having fun yet? (file version)")
```

Launch the Python interpreter by dialing the following command in the shell:

```bash
python fun.py
```

In [10]:
# shell commands can be launched from IPythoon as well
!python stuff/fun.py

python3: can't open file '/content/stuff/fun.py': [Errno 2] No such file or directory

In [11]:
# the same results can be obtained using the %run magic, with a slightly different syntax
%run stuff/fun.py

Exception: File `'stuff/fun.py'` not found.

More magic? Use the `quickref` command to list them all:

In [ ]:
# IPython - Quick Reference Card
%quickref

Even if writing programs with simple text editors is perfectly possible, life is much easier when you used an IDE (Integrated Development Environment) or a text editor on steroids. Desirable features of these environments include syntax highlighting, inspection capabilities, code profiling features, autocomplete, support for interactive shells, package managers and so forth.

If you are not participating to the everlasting [editor war](https://en.wikipedia.org/wiki/Editor_war), or if you don't have experience with any IDE, you could consider using [Spyder](https://pythonhosted.org/spyder/), the IDE that comes with Anaconda [[Tutorial](http://www.southampton.ac.uk/~fangohr/blog/spyder-the-python-ide.html)].

Some customizable text editors you might also like are [Sublime Text](https://www.sublimetext.com/) or [Atom](https://atom.io/) (Linux, macOS, Windows).

## Variables

Variables are reserved **memory locations** used by a computer program.

Each variable is associated with an **identifier** (i.e. a name). Python restricts the naming possibilities of a variable:

- identifier characters may be letters, digits or underscores...

- ... but the first character cannot be a number

- Python keywords cannot be used as identifiers

In [ ]:
# list of Python keywords
import keyword
print(keyword.kwlist)

In [ ]:
# Nope.
None = 10

In [ ]:
# Works, but please don't.
none = 10

In [ ]:
# What's wrong with you?!
_None = 10

##### Python does not require variables to be declared explicitly

Variables are created when you first assign a value to them.

The symbol `=` is used to assign values to variables.

In [ ]:
# let's associate the value 55 to the variable named "a_number"
a_number = 55

In [ ]:
# the type of value of the variable can be inspected with the function type()
type(a_number)

In [ ]:
# the function id() returns the identity of the object's memory address
id(a_number)

##### Variable types can change during the execution of a command

In [ ]:
# Let's convert our numerical variable into a digit (i.e. into text)
a_number = str(a_number)
a_number
type(a_number)

## Built-in data types

Python natively supports the following basic types:

- **Boolean**: *bool*

- **None**: *NoneType*

- **Numerical**: *int*, *float*, *long*, *complex*

- **Sequence**: *string*, *list*, *tuple*

- **Set**: *set*, *frozenset*

- **Dictionaries**

#### Mutable vs. Immutable objects

Python data types can be organized by distinguishing those types whose objects can change after their creation (**Mutable**) and those that do not admit such possibility (**Immutable**)

| Immutables|   Mutables|
|:---------:|:---------:|
|  Numerical|          -|
|     String|          -|
|      Tuple|       List|
|  Frozenset|        Set|
|          -| Dictionary|

### NoneType

It has one sole value: `None`. It is used to represent the absence of a value.

### bool

Boolean logical values, can be `True` or `False`.

To be used to represent the truth or falsity of some condition.

#### Boolean Operators

- **and**: conjunction
- **or**: inclusive disjunction
- **not**: negation

In [ ]:
True and False or True

### Numerical Types

- **int**: integers, e.g. `92`
- **long**: long integers of non-limited length, e.g. `15L`
- **float**: floating-point numbers, e.g. `8.75638`
- **complex**: complex numbers, e.g. `1.23+4.56j`

#### Using Python as a Calculator

The simplest way to perform calculations with Python is by using the interactive shell as a fancy calculator.

Some of the operations supported by all the numeric types are:

In [ ]:
# addition
3 + 5

In [ ]:
# difference
9 - 5

In [ ]:
# product
9 * 50

In [ ]:
# quotient
9 / 2

> Note: In Python 2.x (but not in Python 3.x) integer division truncates the remainder and returns an integer (i.e. it calculates the so-called "floored" quotient).

In [ ]:
# Floor division gives us the default behavior of division in Python 2
9 // 2

In [ ]:
# the remainder of the floored quotient
9 % 2

In [ ]:
# x to the power of y
3 ** 2

In [ ]:
# Round a number to a given precision in decimal digits (default 0 digits)
round(1.765432, 3)

---

### Quiz

Calculate the number of seconds we're going to spend in this classroom together.

In [ ]:
number_of_seconds = 60 * 60
print(number_of_seconds)

---

While the previous operators produce new variables, the following perform the operation **in-place**.

That is, the variable itself is changed in the result of the process.

In [ ]:
# our variable
a_number = 8

In [ ]:
# IN PLACE addition
a_number += 3
a_number

In [ ]:
# IN PLACE subtraction
a_number -= 3
a_number

In [ ]:
# IN PLACE multiplication
a_number *= 3
a_number

In [12]:
# IN PLACE division
a_number /= 3
a_number

NameError: name 'a_number' is not defined

In [ ]:
# IN PLACE modulus
a_number %= 3
a_number

### Relational Operators

Comparisons are supported by all objects. The main comparison operators are:

|   Operator|                Semantics|
|:---------:|:-----------------------:|
|         ==|                    equal|
|         !=|                not equal|
|          <|                less-than|
|         <=|    less-than or equal to|
|          >|             greater-then|
|         >=| greater-then or equal to|
|         is| object identity|
|         is not| negated object identity|

Relational operators are used to **test conditions**, and the output is a boolean value

In [ ]:
# is 7 bigger than 9?
7 > 9

NOTE: `is` checks if two things **are the same object**, not just if they are equal

In [ ]:
# the value 0 (of any numerical type) is considered to be False, but 0 is not False
print(False == 0)
print(False is 0)
# PS if you get a SyntaxWarning, this was introduced in 3.8 to help avoid mistaking == for is

---

### Quiz

use the function `id()` to explain the behavior of `is`

In [118]:
print(False == 0)
id(0)

True

10750824

---

## Sequences

We will focus on three types of sequences: **strings**, **lists** and **tuples** (see the [documentation](https://docs.python.org/2/library/stdtypes.html#sequence-types-str-unicode-list-tuple-bytearray-buffer-xrange) for the full list).

Most sequence types support the following operations (where `s` and `t` are sequences, `n`, `i` and `j` integers):

|   Operation|                Result|
|:----------:|:-----------------------:|
|      x in s|  True if an item of s is equal to x|
|  x not in s|  False if an item of s is equal to x|
|       s + t| Concatenation of s and t|
|       s * n|   add s to itself n times (negative n are treated as 0)|
|        s[i]|	ith item of s, origin 0|
|      s[i:j]|   slice of s from i to j|
|    s[i:j:k]| slice of s from i to j with step k|
|      len(s)| length of s|
|      min(s)| smallest item of s|
|      max(s)| largest item of s|
|  s.index(x)| index of the first occurrence of x in s |
|  s.count(x)| total number of occurrences of x in s|

### Lists


Lists are **ordered** **mutable** sequences of **heterogeneous** elements.

In the Python language, lists are defined by square brackets `[]` and their elements are separated by commas.

In [119]:
# lists can contain different types of objects (even another list like [1,2,3])
demo_list = ["text", 23, 92, "another_text", [1,2,3]]
print(demo_list)

['text', 23, 92, 'another_text', [1, 2, 3]]

In [120]:
# len() returns the length of the list
len(demo_list)

5

In [121]:
# membership verification (return a boolean value)
23 in demo_list

True

In [122]:
# concatenation
new_demo_list = demo_list + demo_list
new_demo_list

['text',
 23,
 92,
 'another_text',
 [1, 2, 3],
 'text',
 23,
 92,
 'another_text',
 [1, 2, 3]]

In [123]:
# repetition
new_demo_list = demo_list * 3
new_demo_list

['text',
 23,
 92,
 'another_text',
 [1, 2, 3],
 'text',
 23,
 92,
 'another_text',
 [1, 2, 3],
 'text',
 23,
 92,
 'another_text',
 [1, 2, 3]]

#### Lists are ordered

In [124]:
# lists are ordered, elements can be recalled by using their index (remember that the index of the first element is 0)
demo_list[0]

'text'

In [125]:
# the index "-1" is associated with the last element
demo_list[-1]

[1, 2, 3]

In [126]:
# check the position of the element "23"
demo_list.index(23)

1

#### Slicing


Slicing is a **computationally fast** way to extract a portion of a sequence in order to create a new sequence.

Slicing Notation works in the following way:


```python
sequence[start:stop:step]
```

##### Slicing rules

- The slice of the sequence `s` from `start` to `stop` is defined as the sequence of items with index `k` such that `start` <= `k` < `stop`.


- If `start` or `stop` is greater than len(`s`), use len(`s`).


- If `start` is omitted or `None`, use 0.


- If `stop` is omitted or `None`, use len(`s`).


- If `start` or `stop` is negative, the index is relative to the end of sequence.

![alt text](https://github.com/bloemj/AUC_TMCI_2022/blob/main/notebooks/images/list-slicing.png?raw=1)

In [127]:
print(demo_list)

['text', 23, 92, 'another_text', [1, 2, 3]]

In [128]:
# slicing with positive indices
demo_list[1:3]

[23, 92]

In [129]:
# slicing works with negative indices as well
demo_list[-3:-1]

[92, 'another_text']

In [130]:
# slicing works with a mixture of positive and negative indices
demo_list[1:-2]

[23, 92]

In [131]:
# if an index is omitted, Python reaches the first or the last element of the list
demo_list[2:]

[92, 'another_text', [1, 2, 3]]

In [132]:
# the same as above, with the first index omitted
demo_list[:3]

['text', 23, 92]

In [133]:
# slicing with steps
demo_list[1::2]

[23, 'another_text']

---

### Quiz

The following code creates a list whose length is a-priori unknown. Extract:

- the last element of the list by using a positive index


- the first element of the list by using a negative index

In [134]:
import numpy as np
import random

random_length_list = np.random.choice(99, random.randint(8,12))
print(random_length_list)

[98 49 62 53 45 53 92 23 59 94 77 60]

In [135]:
len(random_length_list)
random_length_list[len(random_length_list)-1]
random_length_list[-len(random_length_list)]

98

---

#### Lists are mutable

Lists methods allows you to manipulate the elements stored in the list quickly and effectively.

In [136]:
# the method .append() allows you to add an element at the end of the list
# Equivalent to `demo_list[len(demo_list):] = ["appended"]`
demo_list.append("appended")
print(demo_list)

['text', 23, 92, 'another_text', [1, 2, 3], 'appended']

In [137]:
# the method .extend() allows you to add all the elements of a second list
demo_list.extend(["elements","of","another","list"])
print(demo_list)

['text', 23, 92, 'another_text', [1, 2, 3], 'appended', 'elements', 'of', 'another', 'list']

In [138]:
# the method .remove() allows you to remove a given elements from a list
demo_list.remove("appended")
print(demo_list)

['text', 23, 92, 'another_text', [1, 2, 3], 'elements', 'of', 'another', 'list']

**Bonus question: What happens if the list contained duplicates of the removed element?**

In [139]:
# the method .reverse() reverses a list IN PLACE (i.e. the original list is modified)
demo_list.reverse()
print(demo_list)

['list', 'another', 'of', 'elements', [1, 2, 3], 'another_text', 92, 23, 'text']

In [140]:
# slicing can be used also to replace elements in a list
demo_list[1:3] = ["new_text", 7, 38]
print(demo_list)

['list', 'new_text', 7, 38, 'elements', [1, 2, 3], 'another_text', 92, 23, 'text']

In [141]:
# slicing can be used to delete elements
demo_list[4:6] = []
print(demo_list)

['list', 'new_text', 7, 38, 'another_text', 92, 23, 'text']

In [142]:
# the method .sort() order a list (NOTE: the list elements must be of the same type)
homogeneous_list = [1,56,33,8,220,9]
homogeneous_list.sort()
homogeneous_list

[1, 8, 9, 33, 56, 220]

In [143]:
# lists of strings can be sorted as well
homogeneous_list = ["canary", "hippo", "kangaroo", "narwhal", "elephant", "raccoon", "yak", "ant"]
homogeneous_list.sort()
homogeneous_list

['ant', 'canary', 'elephant', 'hippo', 'kangaroo', 'narwhal', 'raccoon', 'yak']

---

### Quiz

Explain the sorting of the following list:

In [144]:
homogeneous_list =["1", "56", "33", "8", "220", "9"]
homogeneous_list.sort()
homogeneous_list

['1', '220', '33', '56', '8', '9']

---

#### Lists of numbers

Lists of numbers can be manipulated by additional functions, among which **max()**, **min()** and **sum**

In [145]:
some_numbers = [4, 8, 2, 6, 2, 9]
print(max(some_numbers))
print(min(some_numbers))
print(sum(some_numbers))

9
2
31

---

### Quiz

Compute the average of `some_numbers`:

In [146]:
print(sum(some_numbers)/len(some_numbers))

5.166666666666667

---

### Tuples

Tuples are the **immutable** counterpart of the lists.

They are defined by round brackets `()` and they mainly differ from the list in that they do not accept those methods that tries to manipulate its elements.

In [147]:
# tuples can contain different types of objects (even another list like [1,2,3])
demo_tuple = ("text", 23, 92, "another_text", [1,2,3])
print(demo_tuple)

('text', 23, 92, 'another_text', [1, 2, 3])

In [148]:
# elements can be accessed on the basis of their index...
demo_tuple[1:3]

(23, 92)

In [149]:
# ...but they cannot be replaces
try:
    demo_tuple[1] = 2
except TypeError as e:
    print(e)

'tuple' object does not support item assignment

### Strings

Strings are **immutable**, sequences of characters (so, they are **homogeneus**)

In the Python language, strings are defined by single `'` or double quotes `"`,  and their elements are continguous.

In [150]:
demo_string = "Does Cersei have any friends?"
print(demo_string)

Does Cersei have any friends?

In [151]:
# using single or double quotes is indifferent
demo_string_single = 'Does Cersei have any friends?'
demo_string == demo_string_single

True

In [152]:
# Remember: Digits =/= numbers! (frequent source of debugging frustration)
print (type("1979") == type(1979))
print ('"1979" type is: ' + str(type("1979")))
print ('1979 type is:' + str(type(1979)))

False
"1979" type is: <class 'str'>
1979 type is:<class 'int'>

By being immutable sequences, strings accept all the sequences methods, but they not support item assignment:

In [153]:
# you can check the length (in charachters, whitespaces count!!!) of a string
len(demo_string)

29

In [154]:
# strings can be looked for in other strings
"Cersei" in demo_string

True

In [155]:
# how many 'a's do we have in our string?
demo_string.count("a")

2

In [156]:
# concatenation is possible
demo_string += "\nNoway!"
demo_string

'Does Cersei have any friends?\nNoway!'

The escape sequence `\n` indicates the end of the line.

Python escape sequences are introduced by the escape character `\`, whose goal is to signal the interpreter that the following character has an "unusual" interpretation. Here is a partial list:

| Escape Sequence|         Meaning|
|:--------------:|:---------------:|
|              \\\\|  backslash|
|              \\'|  single quote|
|              \\b|  backspace|
|              \\n|  new line|
|              \\t|  horizontal tab|

In [157]:
# nicely print our string!
print(demo_string)

Does Cersei have any friends?
Noway!

In [158]:
# what does a backspace do?
print(demo_string  +"\b")

Does Cersei have any friends?
Noway!

In [159]:
# the escape character may be useful when you need single quotes inside a single quote-marked string...
'can any of you pronounce \'s-Hertogenbosch?'

"can any of you pronounce 's-Hertogenbosch?"

In [160]:
# but I prefer this solution (when possible)
"can any of you pronounce 's-Hertogenbosch?"

"can any of you pronounce 's-Hertogenbosch?"

Strings that span multiple lines can be written in a readable form by using the sequence `"""` as a delimiter

In [161]:
print("""Unsealed, on a porch a letter sat
Then you said, "I wanna leave it again"
Once I saw her on a beach of weathered sand
And on the sand I wanna leave her again""")

Unsealed, on a porch a letter sat
Then you said, "I wanna leave it again"
Once I saw her on a beach of weathered sand
And on the sand I wanna leave her again

**Question:**

In [162]:
# where do all those '\n's come from???
""""On a weekend I wanna wish it all away, yeah
And they called and I said that I'll go
And I said that I'll call out again
And the reason I ought ta leave her calm, I know
I said, "I don't know whether I'm the boxer or the bag"""""

'"On a weekend I wanna wish it all away, yeah\nAnd they called and I said that I\'ll go\nAnd I said that I\'ll call out again\nAnd the reason I ought ta leave her calm, I know\nI said, "I don\'t know whether I\'m the boxer or the bag'

#### String slicing is a thing:

![alt text](https://github.com/bloemj/AUC_TMCI_2022/blob/main/notebooks/images/string-slicing.png?raw=1)


Source: [Bird et al. (2009)](http://www.nltk.org/book/ch03.html)

In [163]:
# let's try it
"Monty Python"[-12:-7]

'Monty'

In [164]:
# ...but single characters cannot be replaced
try:
    demo_string[5:11] = "Melisandre"
except TypeError as e:
    print(e)

'str' object does not support item assignment

#### String Methods

Strings have a buch of dedicated methods (see the [documentation](https://docs.python.org/2/library/stdtypes.html#string-methods) for a complete list), that allows them to be both inspected or manipulated (they are not modified, rather a **new object** is returned). The following are those I use the most:

In [165]:
# is the string composed SOLELY of 1. digits 2. alphabetic characters 3. both?
print('100'.isdigit())
print('cat'.isalpha())
print('my cat is 100'.isalnum())

True
True
False

In [166]:
print(demo_string)

Does Cersei have any friends?
Noway!

In [167]:
# does the string starts or ends with a given sequence of characters?
print(demo_string.startswith("d"))  # it is case sensitive !!!
print(demo_string.endswith("Noway!"))

False
True

In [168]:
# change case to all the characters of a string
print(demo_string_single.upper())
print(demo_string_single.lower())

DOES CERSEI HAVE ANY FRIENDS?
does cersei have any friends?

In [169]:
# remove a given character (default is any whitespace) from the beginning and the end of a string
print ("Twice minus: - before and after -".strip("-"))
print ("  \t  Too much space?".strip())

Twice minus: - before and after
Too much space?

In [170]:
# replace a given sequence of characters with another
print(demo_string.replace("Cersei", "Melisandre"))

Does Melisandre have any friends?
Noway!

A string can be transformed into a list of string by splitting it on a given character

In [171]:
# a whitespace
demo_string_single.split(" ")

['Does', 'Cersei', 'have', 'any', 'friends?']

In [172]:
# the default character is any white line (that's convenient)
demo_string.split()

['Does', 'Cersei', 'have', 'any', 'friends?', 'Noway!']

In [173]:
# the maximun number of slits can be specified
demo_string_single.split(" ", 2)

['Does', 'Cersei', 'have any friends?']

The inverse operation is possible, a list of strings can be joined by a single character

In [174]:
# a whitespace
" ".join(["One","Two","Three"])

'One Two Three'

In [175]:
# an hyphen
"-".join(["One","Two","Three"])

'One-Two-Three'

In [176]:
# no characters at all
"".join(["Super", "cali", "fragilistic", "expiali", "docious"] )

'Supercalifragilisticexpialidocious'

In [177]:
# BEWARE: non string elements in the original list are not admitted
try:
    " ".join(["Today", "I", "am", 45])
except TypeError as e:
    print(e)

sequence item 3: expected str instance, int found

---

### Quiz

Italian nobles tends to have an awful lot of names.

For instance, "Vittorio Emanuele di Savoia" has the 12 names listed in `full_name`.

Can you find a pythonic way to eliminate the less used names from this string?

In [178]:
full_name = "Vittorio Emanuele Alberto Carlo Teodoro Umberto Bonifacio Amedeo Damiano Bernardino Gennaro Maria di Savoia"

In [179]:
full_name.split(" ", 13)
full_name_split=full_name.split(" ", 13)
full_name_split[0:2]
first_two_names=full_name_split[0:2]
last_two_names=full_name_split[-2:]
print (first_two_names, last_two_names)
" ".join(full_name_split[0:2])
" ".join(full_name_split[-2:])
" ".join(full_name_split[0:2])+" "+" ".join(full_name_split[-2:])

['Vittorio', 'Emanuele'] ['di', 'Savoia']

'Vittorio Emanuele di Savoia'

---

#### Unicode

##### Unicode in brief

Characters, the smallest textual units, are abstractions that the computer represent as code points. Code points are integer values, usually denoted in base 16.

*The Unicode Standard describes how code points map to characters and vice versa.* (see the [Unicode character table](https://unicode-table.com/en)).


##### Encodings

Sequences of code points are represented in the computer memory as a set of bytes.

*The rules for translating a Unicode string into a sequence of bytes are called an Encoding.*

The principal character encoding are `ASCII`, `Latin-1` (`ISO-8859-1`, `iso88591` ), and `UTF-8` (`utf8`, `UTF_8` ). They are partly incompatible, with the following exception: a document stored in `ASCII` can be read using `Latin-1` or `UTF-8`, because `Latin-1` and `UTF-8` are subsets of `ASCII` (i.e. their 0-128 code-points are identical).

As a general rule, if you don't know which encoding to choose for your text, you should use `UTF-8`, mainly because it can handle any Unicode point and because it is more compact than other comparable encoding like `UTF-16` and `UTF-32`.

#### Unicode in Python 3.x

Strings are unicode by default in Python 3.

In [180]:
# a byte string is visualised according to your default locale
string_1 = "Does Cersei have any friends?"
type(string_1)

str

In [181]:
# a unicode string
string_2 = u"Does Cersei have any friends?"
type(string_2)

str

##### From bytes to Unicode (and back)

`encode()` allows you to convert unicode strings to byte strings.

In [182]:
# default Py3 unicode string
print(type(string_2))

# unicode string to byte string
string_2 = string_2.encode('utf8')
print(type(string_2))

string_2 = string_2.decode("utf-8")
print(type(string_2))

<class 'str'>
<class 'bytes'>
<class 'str'>

#### Unicode Decoding and Encoding

![alt text](https://github.com/bloemj/AUC_TMCI_2022/blob/main/notebooks/images/unicode.png?raw=1)


Source: [Bird et al. (2009)](http://www.nltk.org/book/ch03.html#what-is-unicode)

---

### Sets

Sets are collections of **unordered** of **distinct** objects.

They are commonly used to test membership, to remove duplicates or to compute mathematical operations such as intersection, union, difference, and symmetric difference. Being unordered collections, they do not support indexing, slicing and any other sequence-like behavior.

In Python, sets can be create beither by using the syntax  `set([])` or by using curly braces `{}`.

In [183]:
# when you creates a set, repetitions are removed
demo_set = set([1,2,1,2,1,2,3,5,6,4,2,3,5,2])
another_demo_set = {1,6,6,3,9}
print(demo_set)
print(another_demo_set)

{1, 2, 3, 4, 5, 6}
{1, 3, 6, 9}

In [184]:
# elements may we added with the function add()
demo_set.add(7)
demo_set

{1, 2, 3, 4, 5, 6, 7}

In [185]:
# elements may we removed with the function remove()
demo_set.remove(2)
demo_set

{1, 3, 4, 5, 6, 7}

In [186]:
# length of a set
len(demo_set)

6

In [187]:
# membership test
5 in demo_set

True

In [188]:
# the union of the two sets
demo_set.union(another_demo_set)

{1, 3, 4, 5, 6, 7, 9}

In [189]:
# intersection of the two sets
demo_set.intersection(another_demo_set)

{1, 3, 6}

In [190]:
# elements that are in the demo_set but not in another_demo_set
demo_set.difference(another_demo_set)

{4, 5, 7}

In [191]:
# every elements of another_demo_set are in demo_set?
print(demo_set.issuperset(another_demo_set))
print(another_demo_set.issubset(demo_set))

False
False

---

### Quiz

The following list contains 100 random extractions (with replacement) of numbers between 1 and 15.

Find the number that has never been extracted

In [192]:
random_numbers = [1, 2, 1, 1, 9, 13, 15, 5, 9, 8, 12, 14, 3, 2, 8, 10, 3, 12, 15, 13, 5, 3, 7, 5, 2, 13, 12, 8, 10, 5, 15, 8, 2, 8, 5, 12, 9, 2, 3, 5, 1, 4, 5, 9, 13, 2, 12, 5, 10, 8, 1, 15, 15, 6, 12, 3, 1, 3, 7, 14, 15, 10, 15, 7, 10, 12, 1, 2, 13, 7, 9, 6, 6, 7, 4, 12, 10, 8, 8, 3, 8, 4, 6, 14, 10, 5, 2, 3, 15, 4, 9, 3, 7, 7, 2, 4, 4, 1, 7, 15]

In [193]:
random_numbers = set(random_numbers)
print(random_numbers)
another_demo_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
another_demo_set.difference(random_numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15}

{11}

---

### Dictionaries

Dictionaries are **associative arrays** mapping **immutable** types (string, numbers, tuples...) to arbitrary objects of any kind (variables, functions, modules...). Intuitively, they can be thought as collections of objects that we can recall by means of a unique key.

To visualize a Python dictionary you can think of a telephone book, in which people names are the unique keys that you use to retrieve difference kinds of information (phone numbers, street address, mail address...). The same telephone number, street address or other information can be present in the entries of more people, but a label cannot be associated with more than one entry.

In Python, dictionaries are defined by curly brackets `{}`, in which key-value pairs are separated by commas and joint by colons.

In [194]:
# a English-Dutch dictionary of colors
demo_dictionary = {"black" : "zwart",
                  "white" : "witte",
                  "red" : "rod",
                  "yellow" : "geel"}
print(demo_dictionary)

{'black': 'zwart', 'white': 'witte', 'red': 'rod', 'yellow': 'geel'}

In [195]:
# values can be recalled by their keys
demo_dictionary["white"]

'witte'

In [196]:
# we can change a value assocaited with a key
demo_dictionary["white"] = "wit"
print(demo_dictionary)

{'black': 'zwart', 'white': 'wit', 'red': 'rod', 'yellow': 'geel'}

In [197]:
# if the key is missing a new key : value pair is added
demo_dictionary["blue"] = "blauw"
print(demo_dictionary)

{'black': 'zwart', 'white': 'wit', 'red': 'rod', 'yellow': 'geel', 'blue': 'blauw'}

In [198]:
# key:values can be deleted with the command "del()"
del(demo_dictionary["blue"])
print(demo_dictionary)

{'black': 'zwart', 'white': 'wit', 'red': 'rod', 'yellow': 'geel'}

In [199]:
# check if a dictionary has a given key
"blue" in demo_dictionary

False

In [200]:
# count the number of entries in a dictionary
len(demo_dictionary)

4

#### Iterating over a Dictionary

In [201]:
# iterate over dictionary keys:
print(list(demo_dictionary))
print(list(demo_dictionary.keys()))

['black', 'white', 'red', 'yellow']
['black', 'white', 'red', 'yellow']

In [202]:
# iterate over dictionary values:
print(list(demo_dictionary.values()))

['zwart', 'wit', 'rod', 'geel']

In [203]:
# iterate over dictionary key-value pairs:
print(list(demo_dictionary.items()))

[('black', 'zwart'), ('white', 'wit'), ('red', 'rod'), ('yellow', 'geel')]

---

### Quiz

How many characters the longest Dutch color name in our dictionary has?

In [204]:
print(list(demo_dictionary.values()))
len(max(list(demo_dictionary.values())))

['zwart', 'wit', 'rod', 'geel']

5

---

###  Type casting

Sometimes, we may need to change the type of a variable.

For instance, we may want to change a list into a set in order to delete all its repeated elements. A quick way to do so is to transform the list in a set.

Other example may involve the `join()` operator and the `print()` functions, that do not accept numbers. Conversion functions can be used to quickly switch numbers to strings.

Note that not all types of variables can be switched to other types. In what follows we report some common conversion.

In [205]:
# from number to string
str(3.123424235454)

'3.123424235454'

In [206]:
# sometimes you want to round the number
str(round(3.123424235454, 2))

'3.12'

In [207]:
# from string to integer
int("3")

3

In [208]:
# from string to floating numer
float("3")

3.0

In [209]:
# from list to tuple (list cannot be used as dictionary keys, tuples can)
tuple([demo_list])

(['list', 'new_text', 7, 38, 'another_text', 92, 23, 'text'],)

In [210]:
# from list to set
set([1,2,3,1,2,3,3])

{1, 2, 3}

In [211]:
# from string to list
print(list("this is a sentence"))

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 'e', 'n', 't', 'e', 'n', 'c', 'e']

---

### Quiz

How many different characters did Jonathan Coe use in the tiles of his books?

In [212]:
coe_bibliography = ["The Accidental Woman", "A Touch of Love", "The Dwarves of Death", "What a Carve Up! or The Winshaw Legacy Viking", "The House of Sleep", "The Rotters' Club", "The Closed Circle", "The Rain Before It Falls", "The Terrible Privacy of Maxwell Sim", "Expo 58", "Number 11"]

In [213]:
new_coe_bibliography=set(coe_bibliography)
print(new_coe_bibliography)
str(new_coe_bibliography)
str(new_coe_bibliography).split()
set(str(new_coe_bibliography).split())

{'The House of Sleep', 'What a Carve Up! or The Winshaw Legacy Viking', 'Expo 58', 'The Closed Circle', 'A Touch of Love', "The Rotters' Club", 'The Dwarves of Death', 'The Rain Before It Falls', 'The Terrible Privacy of Maxwell Sim', 'The Accidental Woman', 'Number 11'}

{'"The',
 "'A",
 "'Expo",
 "'Number",
 "'The",
 "'What",
 "11'}",
 "58',",
 'Accidental',
 'Before',
 'Carve',
 "Circle',",
 'Closed',
 'Club",',
 "Death',",
 'Dwarves',
 "Falls',",
 'House',
 'It',
 'Legacy',
 "Love',",
 'Maxwell',
 'Privacy',
 'Rain',
 "Rotters'",
 "Sim',",
 "Sleep',",
 'Terrible',
 'The',
 'Touch',
 'Up!',
 "Viking',",
 'Winshaw',
 "Woman',",
 'a',
 'of',
 'or',
 "{'The"}

---

## Python Syntax

### The Significant Whitespace

Most program languages use characters (e.g. `{...}`) or keyworks (e.g. `begin ... end`) to delimitate blocks of codes.

#### When writing Python code, you rely on INDENTATION to structure your programs.

All programming languages allow you to indent (and you should!), but in Python you **have to.**

Otherwise, you'll receive and IndentationError and your code won't work

#### How Indentation Works

- All statements with the same distance from the left border belong of the same block of code.


- Sub-blocks are more indented, while the block ends at the line less indented.


- You should use **4 spaces** per indentation level.


- When a statement is too long it's good practice to avoid lines of code longer than 80 characters), it can be split with `"\"`


- **Never mix** spaces and tabs in a single source file

> #### Recommended Reading:
>
> Recommended Reading: [PEP 8 - Style Guide for Python Code](https://www.python.org/dev/peps/pep-0008/)

##### The code is way more readable:


```python
# raw_input() reads from standard input (e.g. keyboard)
n_string = raw_input('enter a number, please')

if not n_string.isdigit():
    print("this isn't a number...")
else:
    n = int(n_string)
    if n == 0:
        print("zero? why zero?")
    elif n % 2 == 0:
        print("even")
    else:
        print("odd")
```

##### The structure is transparent:

<div style="float:left;margin:-12px 0 0 0" markdown="1">
    <img src="https://github.com/bloemj/AUC_TMCI_2022/blob/main/notebooks/images/Indent.png?raw=1" width="505">
</div>

### Conditional Statements

A lot of programming has to do with executing a block of code only if a certain condition is verified.

In Python, the `if-then-else` construct has the form:

```python
if condition1:
    statements
elif condition2:
    statements
elif condition3:
    statements
else:
    statements
```

Note that the `elif` and `else` clauses are optional. A conditional statement can contain a single `if` block, and nothing else.

In [214]:
import random
n = random.randrange(0,99)  # random number between 0 and 99
if n == 0:
    print("zero? why zero?")
elif n % 2 == 0:
    print("even")
else:
    print("odd")

even

## Flow control

### For Loops

Programming is of little use if we cannot repeat an instruction for an intended number of times.

The `for` statement allows us to define **iterations** (i.e.taking items from an iterable) by following this template:

```python
for variable in sequence:
	statement
else:
	statement
```

The code in the optional `else` clause is executed if and only if the loop terminates successfully (i.e. without a **`break`**)

In [215]:
# let's iterate over our demo_list
for el in demo_list:
    print(el)

list
new_text
7
38
another_text
92
23
text

#### The enumerate function

The `enumerate()` is problably the most used among the functions that supports the iteration of an iterable. This funtion return the current item plus **its index** in the iteration process.

In [216]:
# use enumerate in the iteration over our demo_list
for i, el in enumerate(demo_list):
    print (i, "-->", el)

0 --> list
1 --> new_text
2 --> 7
3 --> 38
4 --> another_text
5 --> 92
6 --> 23
7 --> text

#### The range construct

The  `range()` construct can be used to control the iteration. It generate lists of numbers on the basis of the following three arguments:

- `start` : the first integer of the list
(default is 0)
- `stop` : one larger the last integer of the list (list stop at n - 1)
- `step`: the increment of the list (default is 1)

In [217]:
# let's play with range
print(range(0,10))
print(range(10))
print(range(1,10,2))

range(0, 10)
range(0, 10)
range(1, 10, 2)

In [218]:
# let's use range in a for loop
for el in range(1, 10, 2):
    print(el)

1
3
5
7
9

### While Loops

The `while` statement allows us to control a loop on the basis of a condition.

A `while` loop runs as long as a condition is verified.

It has the following general form:

```python
while condition:
	statement
else:
	statement
```

the code in the optional `else` clause is execute if and only if the loops terminates successfully (i.e., without a **`break`**)

In [252]:
n = 1
while n % 2 != 0:
    n = random.randrange(0,99)
    print(n)

1
17
7
32

### Break and Continue

`break` and `continue` are two statements that allow for a more flexible control of a loop. Intuitively:

- `continue` is used to pass to the next iteration of the loop
- `break` is used to interrupt the loop abruptly

In [220]:
# when we encounter 7 we skip to the next step
for el in range(1, 10, 2):
    if el == 7:
        continue
    print(el)

1
3
5
9

In [221]:
# when we encounter 7 we stop our loop
for el in range(1, 10, 2):
    if el == 7:
        break
    print(el)

1
3
5

`break` influence the execution of the loop in yet another way: when a loop terminates due to a `break` statement, the code embedded in the option `else` clause is skipped.

In [253]:
# the continue statement does not influence the execution of the else block
for el in range(1, 10, 2):
    if el == 7:
        print ("(let's ignore the " + str(el) + ")")
        continue
    print(el)
else:
    print (">>> the iteration ended with the number " + str(el))

1
3
5
(let's ignore the 7)
9
>>> the iteration ended with the number 9

In [223]:
# what if we replace continue with break
for el in range(1, 10, 2):
    if el == 7:
        print ("(we encountered the number " + str(el) + ", let's break the loop)")
        break
    print(el)
else:
    print (">>> the iteration ended with the number " + str(el))

1
3
5
(we encountered the number 7, let's break the loop)

### The Pass Statement

Given the importance of indentation for Python, sometimes we may need a placeholder that allows us to write down a condition for an `if-then-else` construct or for a `while` loop without writing any statement (maybe just a comment). This is the case in which the `pass` statement comes in handy.

In what follows, **nothing happens**:

```python
if condition1:
    pass
else:
    pass
```

### List Comprehensions

A list comprehension is a syntactic construct that allows us to create lists by applying a function on another list, in just **one line** of code.

Even if the reverse isn't always true, list comprehensions can always be (inefficiently) expressed as loops. We will exploit this family resemblance for introducing this construct.

In what follows, we start with a list of numbers and we want to square all of its elements and save our final values in a new list.

In [254]:
# our source list
source_list = [1,2,3,4,5,6,7,8,9]

In [255]:
# we can solve this problem with a for loop...
final_list = []
for el in source_list:
    final_list.append(el ** 2)
print(final_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [226]:
# ... or by using list comprehension
final_list = [el ** 2 for el in source_list]
print(final_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Conditional statements may be implemented**

In what follows we want to ignore all the odd numbers

In [256]:
# we can solve this problem with a for loop...
final_list = []
for el in source_list:
    if el % 2 == 0:
        final_list.append(el ** 2)
print(final_list)

[4, 16, 36, 64]

In [257]:
# ... or by using list comprehension
final_list = [el ** 2 for el in source_list if el % 2 == 0]
print(final_list)

[4, 16, 36, 64]

**If you want to implement an else clause the syntax changes slightly**

In what follows we want to leave the odd numbers unchanged

In [259]:
# we can solve this problem with a for loop...
final_list = []
for el in source_list:
    if el % 2 == 0:
        final_list.append(el ** 2)
    else:
        final_list.append(el)
print(final_list)

[1, 4, 3, 16, 5, 36, 7, 64, 9]

In [258]:
# ... or by using list comprehension
final_list = [el ** 2 if el % 2 == 0 else el for el in source_list]
print(final_list)

[1, 4, 3, 16, 5, 36, 7, 64, 9]

---

### Quiz

The list `random_numbers` contains 20 randomly generated integers.

Create a new list containing only the positive numbers from the list

In [231]:
random_numbers = [81, -36, 15, -96, 14, 51, 70, 40, -15, -64, -25, 82, -88, 7, -13, -30, 12, 32, 96, -55]

In [260]:
final_list = []
for el in random_numbers:
    if el >= 0:
        final_list.append(el)
print(final_list)

[81, 15, 14, 51, 70, 40, 82, 7, 12, 32, 96]

---

**Here's something you might find useful:**

[Python Cheat Sheet](https://www.cheatography.com/davechild/cheat-sheets/python/)

Collects much of the syntax we used today.

---

### Exercise 1.

The code in the next cell creates a variable called `zen_text`, and assigns it a nicely formatted version of the textual elements of the Zen of Python.

**Count the number of non-empty lines** of this manifesto.

In [395]:
import this
zen_text = ''.join(this.d.get(el, el) for el in this.s)
split_text = zen_text.split("\n")
count=0
for line in split_text:
  if line != "":
    count=count+1
print(count)

20

In [343]:
print(zen_text)

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Exercise 2.

The dictionary in the following cell reports, for each Scrubs character, a nested dictionary containing the name of the actor, the age of the character and its credentials.

Write code to answer the following questions:

- what are the **names of the actors** of the cast?


- what is the **average age** of the characters?


- how **many M.D.s** are there in the main cast?

In [235]:
scrubs_main = {'Bob Kelso': {'actor': 'Ken Jenkins', 'age': 70, 'credentials': 'M.D.'},
               'Carla Espinosa-Turk': {'actor': 'Judy Reyes', 'age': 36, 'credentials': 'RN'},
               'Christopher Turk': {'actor': 'Donald Faison', 'age': 31, 'credentials': 'M.D.'},
               'Elliot Reid': {'actor': 'Sarah Chalke', 'age': 29, 'credentials': 'M.D.'},
               'J.D.': {'actor': 'Zach Braff', 'age': 31, 'credentials': 'M.D.'},
               'Janitor': {'actor': 'Neil Flynn', 'age': 40, 'credentials': None},
               'Perry Cox': {'actor': 'John C. McGinley', 'age': 45, 'credentials': 'M.D.'}}

In [348]:
final_list = []
for el in scrubs_main:
    actor_name = scrubs_main[el]['actor']
    #print(scrubs_main)
    #print(el)
    print(actor_name)
    final_list.append(actor_name)
print(final_list)
age_list = []
for el in scrubs_main:
    average_age_dic = scrubs_main[el]['age']
    print(average_age_dic)
    age_list.append(average_age_dic)
print(age_list)
average_age_list = sum(age_list)/len(age_list)
print(average_age_list)
list_of_MD= []
for el in scrubs_main:
    MD_list = scrubs_main[el]['credentials']
    if MD_list == 'M.D.':
      list_of_MD.append(MD_list)
print(list_of_MD)
len(list_of_MD)
#number_of_MD = [el == 1 if el is 'M.D.']
#print[number_of_MD]

Ken Jenkins
Judy Reyes
Donald Faison
Sarah Chalke
Zach Braff
Neil Flynn
John C. McGinley
['Ken Jenkins', 'Judy Reyes', 'Donald Faison', 'Sarah Chalke', 'Zach Braff', 'Neil Flynn', 'John C. McGinley']
70
36
31
29
31
40
45
[70, 36, 31, 29, 31, 40, 45]
40.285714285714285
['M.D.', 'M.D.', 'M.D.', 'M.D.', 'M.D.']

5